---
import ProductCard from "../../Products/ProductCard/ProductCard.astro";
---

<section class="p-4 bg-white">
  <div class="text-center">
    <h2
      class="text-purple font-neuropol-rg text-3xl lg:text-4xl xl:text-5xl mb-2"
    >
      Know our products
    </h2>
    <p class="lg:text-lg xl:text-xl text-gray">
      Discover our collection of futuristic garments that combine design,
      technology and comfort.
    </p>
  </div>

  <div
    class="mx-auto grid gap-8 sm:max-w-4xl sm:grid-cols-2 md:gap-12 lg:max-w-5xl lg:grid-cols-3 my-10"
  >
    <ProductCard
      href="#"
      src="/images/images/person-1.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />

    <ProductCard
      href="#"
      src="/images/images/person-2.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />

    <ProductCard
      href="#"
      src="/images/images/person-3.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />

    <ProductCard
      href="#"
      src="/images/images/person-4.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />

    <ProductCard
      href="#"
      src="/images/images/person-5.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />

    <ProductCard
      href="#"
      src="/images/images/person-6.jpg"
      name="Futuristic coat"
      description="Innovative design with integrated technology"
      price="330.00€"
    />
  </div>
</section>
