<section
  class="w-full p-4 ml-auto max-w-[1300px] mx-auto grid lg:grid-cols-2 lg:items-center"
>
  <div class="space-y-6">
    <div>
      <h1 class="font-neuropol-rg text-3xl lg:text-4xl xl:text-5xl mb-2">
        Discover the fashion of the future
      </h1>
      <p class="lg:text-lg xl:text-xl">
        Our collection of futuristic clothing will take you to a new level of
        style and comfort.
      </p>
    </div>

    <div class="space-x-4">
      <button
        type="button"
        class="px-4 py-2 bg-white text-blue font-inter-light rounded-md hover:bg-opacity-90"
        >Shop now</button
      >
      <button
        type="button"
        class="px-4 py-2 bg-transparent border text-white font-inter-light rounded-md hover:bg-white hover:text-blue transition-colors duration-200"
        >Learn more</button
      >
    </div>
  </div>

  <picture
    ><img
      src="/images/images/person-2-removebg.png"
      alt="A person with atomic clothes"
      width="400"
      height="600"
      class="mx-auto aspect-auto rounded overflow-hidden"
    /></picture
  >
</section>
