---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Hero from "../components/Home/Hero/Hero.astro";
import OurProducts from "../components/Home/OurProducts/OurProducts.astro";
import OurNewReleases from "../components/Home/OurNewReleases/OurNewReleases.astro";
---

<Layout title="Atomic">
  <div
    class="min-h-[100dvh] bg-gradient-to-r from-[#6B5AED] to-[#FF6B6B] flex flex-col"
  >
    <Header />

    <main class="flex-1 space-y-12">
      <Hero />
      <OurProducts />
      <!-- <OurNewReleases /> -->
    </main>

    <!-- <Footer /> -->
  </div>
</Layout>
