---
import Hexagon from "../Icons/Hexagon.astro";
---

<header class="w-full flex p-4 justify-between">
  <a href="#"><Hexagon /></a>

  <nav class="flex text-xs lg:text-md gap-x-4 lg:gap-x-6 font-inter-light">
    <a class="text-sm hover:underline underline-offset-4" href="#">
      Collection
    </a>

    <a class="text-sm hover:underline underline-offset-4" href="#">
      News
    </a>

    <a class="text-sm hover:underline underline-offset-4" href="#">
      Abouot us
    </a>

    <a class="text-sm hover:underline underline-offset-4" href="#">
      Contact
    </a>
  </nav>
</header>
